.author-box {
    overflow: hidden;
    font-size: 16px;
    padding: 30px;
    margin: 40px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.author-box .author-img {
    margin-right: 20px;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author-title {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
    text-transform: uppercase;
}

.abox p:last-child {
    margin-bottom: 0;
}