.site-url {
    text-decoration: none !important;
    border-bottom: 0px !important;
}

.logo {
    vertical-align: middle;
}

.header-top {
    min-width: 385px;
    flex-wrap: inherit !important;
}

.header-top div {
    display: inline-block;
    flex-grow: 0;
}

.nav-div {
    flex-grow: 1000 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-div nav {
    background-color: inherit !important;
}